include ../assets/_pug-mixins


//- Start EDM
	Include partials or directly add PUG syntax
	NOTE Pug Syntax must be indented correctly
	NOTE You don't have to nest everything in partials --- Use PUG syntax directly in here for non-resuable components

include ../partials/view-online

include ../partials/background-images

include ../partials/column-reverse

include ../partials/google-maps

include ../partials/footer
