include ../assets/_pug-mixins
	
row
	columns(small="12", large="12")
		center
			img(src="{{data.img_dir}}logo.png").footer-image.logo.float-center
		br
		br
		p.text-center
			a(href="*|UNSUB|*", target="_blank").unsubscribe Unsubscribe
	
