include ../assets/_pug-mixins
//- NOTE:
	Replace API Key in the src string with your project/clients API key.
wrapper
	container
		row
			columns(small="12" large="12")
				spacer(size="40")
				h4 Location of the best city in the world!
				spacer(size="20")
				img(src="https://maps.googleapis.com/maps/api/staticmap?center=-37.8418658,144.976744&zoom=8&size=640x400&path=weight:3%7Ccolor:blue%7Cenc:{coaHnetiVjM??_SkM??~R&key=AIzaSyCbeqIdEVRV9cOXKXR11lhGM6fX878OwcI" width="640")
				spacer(size="20")


